{# empty Twig template #}
{% extends "::base.html.twig"%}
{% block linkTimeLine%}
{{ path('friends_timeline_homepage', { 'email': profile.email }) }}
{% endblock%}

{% block styleSheet%}<link href="{{asset('css/profileCustom.css')}}" rel="stylesheet">{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">

            <div id="image">

                <img src="{{path('friends_profile_image',{'email': profile.email})}}" alt="Profile Picture" class="profilePicFrame img-rounded" style="width:227px ;height: 277px;">

            </div>

            <div id="navBox" style="margin-top: 1em;">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-info">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    View Profile
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="{{ path('friends_timeline_homepage', { 'email': profile.email }) }}">My Posts</li>
                                    <li><a href="{{ path('profile', { 'email': profile.email }) }}">Friends</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Setup Profile
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="{{ path('profile_edit', { 'email': profile.email }) }}">Edit profile</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--*************************************************************************************************-->


        <div class="col-md-9">
            <h2>{{profile.firstName}} {{profile.lastName}}</h2>

            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#personalSection">Personal and Education</a></li>
                    <li><a data-toggle="tab" href="#educationSection">Contacts</a></li>
                    <li><a data-toggle="tab" href="#workSection">About me</a></li>

                </ul>
                <div class="tab-content">
                    <div id="personalSection" class="tab-pane fade in active">
                        <h4 style="background-color: #4099FF ; padding: 2px;margin-left: 2%;">Personal</h4>
                        <dl class="dl-horizontal" style="margin-left: 25%;">

                            <dt style="margin-bottom: 3px;"><span class="glyphicon glyphicon-user" ></span> Gender  :</dt>
                            <dd>{{profile.gender}}</dd>
                            <dt style="margin-bottom: 3px;"><span class="glyphicon glyphicon-gift" ></span> Date of Birth  :</dt>
                            <dd>{{profile.dob}}</dd>
                            <dt style="margin-bottom: 3px;"><span class="glyphicon glyphicon-star" ></span> Religion  :</dt>
                            <dd>{{profile.religion}}</dd>
                            <dt style="margin-bottom: 3px;"><span class="glyphicon glyphicon-home" ></span> Home Address  :</dt>
                            <dd>{{profile.streetNumber}}</dd>
                            <dd>{{profile.street}}</dd>
                            <dd>{{profile.hometown}}</dd>
                            <dt style="margin-bottom: 3px;"><span class="glyphicon glyphicon-home" ></span> Country  :</dt>
                            <dd>{{profile.country}}</dd>
                            <dt style="margin-bottom: 3px;"><span class="glyphicon glyphicon-home" ></span> Lives in  :</dt>
                            <dd>{{profile.city}}</dd>
                            <dt style="margin-bottom: 3px;"><span class="glyphicon glyphicon-heart" ></span>Relationship Status  :</dt>
                            <dd>{{profile.relationshipStatus}}</dd>
                            <br />
                        </dl>
                        <h4 style="background-color: #4099FF; padding: 2px;margin-left: 2%;">Educational</h4>
                        <dl class="dl-horizontal" style="margin-left: 25%;">

                            <dt><span class="glyphicon glyphicon-blackboard"></span> School  :</dt>
                            <dd>{{profile.school}}</dd>
                            <dt><span class="glyphicon glyphicon-education"></span> High School :</dt>
                            <dd>{{profile.higherEducation}}</dd>
                        </dl>
                    </div>
                    <div id="educationSection" class="tab-pane fade" >
                        <h4 style="background-color: #4099FF; padding: 2px;margin-left: 2%;">Local contacts</h4>
                        <dl class="dl-horizontal" style="margin-left: 25%;">

                            <dt><span class="glyphicon glyphicon-envelope"></span> E-mail  :</dt>
                            <dd>{{profile.email}}</dd>
                            <dt><span class="glyphicon glyphicon-phone"></span> Mobile Number  :</dt>
                            <dd>{{profile.mobileNumber}}</dd>
                            <dt><span class="glyphicon glyphicon-phone-alt"></span> Home Number  :</dt>
                            <dd>{{profile.homePhone}}</dd>

                        </dl>
                        <br />
                        <h4 style="background-color: #4099FF; padding: 2px;margin-left: 2%;">Global contacts</h4>
                        <div class="row" style="padding: 1em;">
                            <div id="blog" class="col-sm-4">
                                <img src="{{asset('img/blog.png')}}" alt="blog">
                                <p>Blog</p>
                            </div>

                            <div id="linkedIn" class="col-sm-3 col-sm-offset-1 ">
                                <img src="{{asset('img/blog.png')}}" alt="linkedIn">
                                <p>linkedIn</p>
                            </div>

                            <div id="FB" class="col-sm-3 col-sm-offset-1">
                                <img src="{{asset('img/blog.png')}}" alt="facebook">
                                <p>Facebook</p>
                            </div>

                        </div>


                    </div>
                    <div id="workSection" class="tab-pane fade">
                        <h4 style="background-color: #4099FF; padding: 2px;margin-left: 2%;">Favourites</h4>
                        <dl class="dl-horizontal" style="margin-left: 25%;" >
                            <dt><span class="glyphicon glyphicon-knight"></span> Sports  :</dt>
                            <dd>{{profile.favoriteSport}}</dd>
                            <dt><span class="glyphicon glyphicon-expand"></span> Movie  :</dt>
                            <dd>{{profile.favoriteSport}}</dd>
                            <dt><span class="glyphicon glyphicon-book"></span> Book  :</dt>
                            <dd>{{profile.favoriteSport}}</dd>
                            <dt><span class="glyphicon glyphicon-apple"></span> Food  :</dt>
                            <dd>{{profile.favoriteFood}}</dd>
                            <dt><span class="glyphicon glyphicon-headphones"></span> Song  :</dt>
                            <dd>{{profile.favoriteSong}}</dd>
                            <dt><span class="glyphicon glyphicon-glass"></span> Drink  :</dt>
                            <dd>{{profile.favoriteDrink}}</dd>
                        </dl>
                        <h4 style="background-color: #4099FF; padding: 2px;margin-left: 2%;">Description</h4>
                        <p class="dl-horizontal" style="margin-left: 25%;">
                            {{profile.description}}
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}
