{% extends '::base.html.twig' %}

{% block linkProfile%}
    {{path('friends_profile_homepage',{'email':email})}}
{% endblock%}

{% block styleSheet%}
    <link href="{{asset('css/profileCustom.css')}}" rel="stylesheet">
{% endblock %}


{% block body %} 
    <div class="container">    
        <form class="form-signin" method="POST" action="{{path('profile_update', { 'email': entity.email })}}" data-validate="parsley" enctype="multipart/form-data">
            <h2 style="font-family:  Trebuchet MS, Arial, Helvetica, sans-serif;">{{entity.firstName}} {{entity.lastName}}<span style="float: right"><h4>Profile Configuration</h4></span></h2>            
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#personalSection">Personal and Education</a></li>
                    <li><a data-toggle="tab" href="#educationSection">Contact Info</a></li>
                    <li><a data-toggle="tab" href="#workSection">About me</a></li>
                    <li><a data-toggle="tab" href="#passwordSection">Password</a></li>
                </ul>

                <div class="tab-content">                    
                    <div id="personalSection" class="tab-pane fade in active" style="padding: 1em;">
                        <dl class="dl-horizontal" style="margin-top: 10px">    
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <p style="font-family:  Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 20px"><b>Personal:</b></p>
                                    <dt id="dtid"><span class="glyphicon glyphicon-user"></span> First Name : </dt>
                                    <dd><input type="text" class="form-control" value="{{ entity.firstName}} " name="firstName" placeholder="Enter your first name"/></dd><br/>

                                    <dt id="dtid"><span class="glyphicon glyphicon-user"></span> Last Name : </dt>
                                    <dd><input type="text" class="form-control" value="{{ entity.lastName}} " name="lastName" placeholder="Enter your last name"/></dd><br/>

                                    <dt id="dtid"><span class="glyphicon glyphicon-home"></span> Hometown : </dt>
                                    <dd><input type="text" class="form-control" value="{{ entity.hometown}} " name="hometown" placeholder="Enter where you live"/></dd><br/>

                                    <dt id="dtid"><span class="glyphicon glyphicon-flag"></span> Country : </dt>
                                    <dd><input type="text" class="form-control" value="{{ entity.country}} " name="country" placeholder="Enter your country"/></dd><br/>

                                    <dt id="dtid"><span class="glyphicon glyphicon-flag"></span> Birthday : </dt>
                                    <dd><input type="date" class="form-control" value="{{ entity.dob}} " name="dob" placeholder="Birth day"/></dd><br/>

                                    <dt id="dtid"><span class="glyphicon glyphicon-user"></span> Gender : </dt>
                                    <dd><input type="text" class="form-control" value="{{ entity.gender}} " name="gender" placeholder="Gender"/></dd><br/>

                                    <p style="font-family:  Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 20px"><b>Education:</b></p>

                                    <dt id="dtid"><span class="glyphicon glyphicon-book"></span> School : </dt>
                                    <dd><input type="text" class="form-control" value="{{ entity.school}} " name="school" placeholder="Enter your school"/></dd><br/>

                                    <dt id="dtid"><span class="glyphicon glyphicon-education"></span> Higer Education : </dt>
                                    <dd><input type="text" class="form-control" value="{{ entity.higherEducation}} " name="higherEducation" placeholder="Enter your high school"/></dd><br/>  

                                </div>
                                <div class="col-md-5 col-md-offset-1">
                                    <p style="font-family:  Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 20px"><b>Edit Profile Picture    :</b></p>
                                    <img src="{{path('friends_profile_image',{'email': entity.email})}}" alt="Profile Picture" class="profilePicFrame img-rounded" style="width:227px ;height: 277px;">
                                    <br />
                                    <br />
                                    <input type="file" name="images" class="btn btn-warning" value="Upload Image" ></input>
                                </div>
                            </div>
                        </dl>
                    </div>


                    <div id="educationSection" class="tab-pane fade" style="padding: 1em;">
                        <dl class="dl-horizontal" style="margin-top: 10px">     

                            <dt id="dtid"><span class="glyphicon glyphicon-phone"></span> Mobile : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.mobileNumber}} " name="mobileNumber" placeholder="Enter your mobile number"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-phone-alt"></span> Home Phone : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.homePhone}} " name="homePhone" placeholder="Fixed contact number"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-arrow-right"></span> Street Number : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.streetNumber}} " name="streetNumber" placeholder="Street Number"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-arrow-right"></span> Street : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.street}} " name="street" placeholder="Street"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-arrow-right"></span> City : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.city}} " name="city" placeholder="City"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-arrow-up"></span> LinkedIn : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.linkedin}} " name="linkedIn" placeholder="Enter your LinkedIn URL"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-bookmark"></span> Blog : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.blog}} " name="blog" placeholder="Enter your blog URL"/></dd><br/>

                        </dl>
                    </div>

                    <div id="workSection" class="tab-pane fade" style="padding: 1em;">
                        <dl class="dl-horizontal" style="margin-top: 10px">                   
                            <dt id="dtid"><span class="glyphicon glyphicon-user"></span> Description : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.description}} " name="description" placeholder="Tell about you"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-heart"></span> Relationship : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.relationshipStatus}} " name="relationship" placeholder="Relationship Status"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-tower"></span> Religious View </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.religion}} " name="religion" placeholder="Religious View"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-arrow-right"></span> Favorite Book : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.favoriteBook}} " name="favoriteBook" placeholder="Best book you ever read"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-arrow-right"></span> Favorite Film : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.favoriteFilm}} " name="favoriteFilm" placeholder="what is your favourite movie"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-arrow-up"></span> Favorite Song : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.favoriteSong}} " name="favoriteSong" placeholder="What do you like to listen most of the time"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-bookmark"></span> Favorite Sport : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.favoriteSport}} " name="favoriteSport" placeholder="What do you like to play most"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-bookmark"></span> Favorite Food : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.favoriteFood}} " name="favoriteFood" placeholder="What do you like to eat most"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-bookmark"></span> Favorite Drink : </dt>
                            <dd><input type="text" class="form-control" value="{{ entity.favoriteDrink}} " name="favoriteDrink" placeholder="What do you like to drink most"/></dd><br/>
                        </dl>
                    </div>

                    <div id="passwordSection" class="tab-pane fade" style="padding: 1em;">
                        <dl class="dl-horizontal" style="margin-top: 10px">                   
                            <dt id="dtid"><span class="glyphicon glyphicon-arrow-right"></span> Current Password : </dt>                            
                            <dd><input type="password" name="oldpassword" class="form-control" placeholder="Enter current Password"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-check"></span> New Password : </dt>                            
                            <dd><input type="password" name="newpassword1" class="form-control" placeholder="Enter New Password"/></dd><br/>

                            <dt id="dtid"><span class="glyphicon glyphicon-duplicate"></span> Re-enter Password : </dt>                            
                            <dd><input type="password" name="newpassword2" class="form-control" style="margin-bottom: 1.5em;" placeholder="Re-enter Password"/></dd>
                        </dl>
                    </div>
                    <button class="btn btn-success" type="submit" style="float:right; margin-right: 2%;margin-top: -4%">Update</button>
                </div>
            </div>                      
        </form>
    </div> 
{% endblock %}
