{% extends "::base.html.twig" %}

{% block styleSheet %}
    <link href="{{asset('css/timeline.css')}}" rel="stylesheet">
{% endblock %}
{# Setting UP profile Link #}
{% block linkProfile%}
{{path('friends_profile_homepage',{'email':email})}}
{% endblock%}


{% block body %}


    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Let your friends know...</h2>
            </div>

            <div class="panel-body">
                {{ form_start(form) }}

                <div class="input-group">
                    {{ form_widget(form.content, { 'attr' : { 'class' : 'form-control' } }) }}

                <span class="input-group-btn">
                {{ form_widget(form.post, { 'attr' : { 'class' : 'btn btn-success'}}) }}
                </span></div>
                {{ form_end(form) }}
            </div>
        </div>

        {% for post in posts %}


        <div class="panel panel-primary box-shadow">
            <div class="panel-heading">
                <h2 class="panel-title">{{ post.userEmail.firstName ~ " " ~ post.userEmail.lastName  }}</h2>
            </div>

            <div class="panel-body">
                <p>{{ post.content }}</p>
            </div>
        </div>

        {% endfor %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Posts Feed</h2>
            </div>

            <div class="panel-body">
                <p>Posts body</p>
            </div>
        </div>
    </div>

    <div class="col-md-2"></div>
{% endblock %}